html, header {
    max-width: 812px;
    margin: auto;
}

main img {
    max-width: 100%;
    height: auto;
}

.articles, .annexe {
    padding-bottom: 7rem;
}

header {
    width: 100%;
    position: fixed;
    padding: 0.4rem 0 0 0.4rem;
    top: 0;
    z-index: 2;
}

video {
    z-index: 1;
}

body {
    padding-top: 3rem;
}

h1, p, h2, h3, h4 {
    padding: 0.4rem 0.6rem 0;
}

header img {
    display: inline;
}

header p {
    position: absolute;
    top: 0;
    left: 7.5rem;
    padding: 0;
}

.menu {
    margin-top: 5.8rem;
}

.menu-lien-principal {
    padding: 3rem 0;
    margin: 0;
}

.menu li {
    display: flex;
    justify-content: center;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu-lien-secondaire {
    padding: 1rem 0;
}

.premiere-page {
    background: url("../../img/hermessage.jpg") no-repeat 87% 100%;
    background-size: cover;
    padding: 5rem 0 0;
}

.premiere-page h1 {
    margin-top: 0;
    padding-bottom: 4rem;
}

.premiere-page p:first-of-type {
    margin: 4rem 2.5rem;
    padding: 0.5rem 2rem;
}

.premiere-page h2 {
    margin: 3rem 2rem;
}

.premiere-page p:last-of-type {
    padding: 0.5rem 3.3rem;
}

.articles-accueil-her {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/theodorepc.jpg") no-repeat 9% 50%;;
}

.articles-accueil-pollution {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/itservers.jpg") no-repeat 40% 50%;
}

.articles-accueil-solution {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/couldsmild.jpg") no-repeat 50% 50%;
}

footer p:last-of-type {
    margin-bottom: 0;
}

footer p:first-of-type {
    margin-top: 0;
    padding-bottom: 1rem;
}

.accueil {
    text-align: center;
}

.vignette {
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 8.5rem;
    border-top: #323232 solid 1rem;
}

.vignette:last-of-type {
    border-bottom: #323232 solid 1rem;
}

.articles h1 {
    padding: 2rem 0 1rem;
    margin-bottom: 5rem;
    text-align: center;
}

.solution-suppr {
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("../../img/mysapce.jpg") no-repeat 50%;
    background-size: 150%;
}

.solution-tri {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/toomanyemails.jpg") no-repeat;
    background-size: 130%;
}

.solution-block {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/adblocker.jpg") no-repeat;
    background-size: 110%;
}

.solution-lum {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/toobright.jpg") no-repeat;
    background-size: 100%;
}

.solution-cloud {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/cloud.png") no-repeat;
    background-size: 100%;
}

.solution-track {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/cookie-checker.jpg") no-repeat;
    background-size: 125%;
}

.solution-dl {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../../img/download.jpg") no-repeat;
    background-size: 140%;
}

.solution-appr {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/codeside.jpg") no-repeat;
    background-size: 130%;
}

.solution-nimp {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/header-chat-box.png") no-repeat;
    background-size: 200%;
}

.solution-opti {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/codeoptimization.png") no-repeat;
    background-size: 150%;
}

.solutions {
    padding: 3.5rem 2rem;
    margin: 4rem 0;
}

.legend p {
    margin-top: -0.2rem;
}

.indent {
    text-indent: 2rem;
}

.article-solution img:nth-of-type(2) {
    padding-bottom: 0.2rem;
    display: block;
    margin: 0 auto;
}

video {
    max-width: 100%;
}

article h1 {
    margin-left: 5.8rem;
    margin-right: 5.8rem;
}

.vignette h2 {
    position: relative;
}

.vignette h2::after {
    content: url("../../img/icon flêche blanc.png");
    position: absolute;
    display: block;
    padding-top: 3rem;
    animation: MoveLeftRight 3s linear infinite;
}

.article-suivant p::after {
    content: url("../../img/icon flêche.png");
    display: block;
    padding-top: 20px;
}

.article-scientifique h1 {
    margin-left: 1rem;
}

.article-scientifique p:nth-of-type(1), .article-scientifique p:nth-of-type(2) {
    text-align: right;
    padding: 0 1rem 0 0;
    margin: 0;
    font-style: italic;
}

.article-scientifique p:nth-of-type(3) {
    margin-top: 6rem;
}

.article-scientifique p:last-of-type {
    margin-bottom: 0;
}

label {
    margin: 0.5rem auto;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

[type="submit"] {
    display: block;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem auto;
    font-size: 2rem;
}

.legend p {
    padding-bottom: 0;
}

.article-suivant {
    background-color: #323232;
    box-shadow: 0 0.2rem 1rem 0.1rem #161616;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

input[type=text] {
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 0.8rem;
    font-size: 1.8rem;
    padding-left: 1.5rem;
}

textarea {
    display: block;
    margin: 1.5rem auto 2.5rem;
    padding-left: 1.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 1rem;
    border: 0.1rem solid #eeeeee;
    font-size: 1.8rem;
}

form {
    padding-top: 1rem;
    margin-top: 4.5rem;
}

.carousel {
    margin-bottom: 2rem;
    padding: 2rem 0 0.1rem 0;
}

.carousel h2, .carousel p {
    margin: 0;
    padding-bottom: 1rem;
}

.carousel ul {
    padding: 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel img {
    max-width: 100%;
    height: auto;
}

.carousel li {
    flex: 1 0 22rem;
    margin-right: 1.8rem;
    scroll-snap-align: center;
}

::-webkit-scrollbar-track {
    background-color: #5EA5A1;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

::-webkit-scrollbar {
    height: 0.2rem;
}

footer span {
    display: none;
}

footer i[class="fab fa-instagram"] {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    font-size: 2.5rem;
}

footer i[class="far fa-envelope"] {
    position: absolute;
    top: 1rem;
    right: 3.5rem;
    font-size: 2.5rem;
}

.fleche-bas {
    position: relative;
}

.fleche-bas::after {
    content: url("../../img/icon flêche bas.png");
    margin-left: -4rem;
    position: absolute;
    display: block;
    animation: MoveUpDown 2.2s linear infinite;
    left: 50%;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 3rem;
    }
    50% {
        bottom: 4.5rem;
    }
}

@keyframes MoveLeftRight {
    0% {
        left: 42%;
    }
    50%{
        left : 44%;
    }
    100%{
        left: 42%;
    }
}

.legend img, .legend video {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    border-left: #323232 1rem solid;
    border-right: #323232 1rem solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.legend {
    margin: 4rem 0;
    box-shadow: 0 0.2rem 1rem 0.1rem #161616;
}

.annexe .carousel {
    margin-top: 6rem;
}

.annexe .carousel li {
    padding: 1rem;
}

.annexe .carousel p {
    padding-bottom: 1.5rem;
}

.annexe .carousel img {
    display: block;
    margin: auto;
    height: 15rem;
    width: auto;
    vertical-align: middle;
}

.annexe.contact {
    padding-bottom: 2.5rem;
}