main img {
    max-width: 100%;
    height: auto;
}

header {
    position: relative;
    padding: 4px 0 0 4px;
}

h1, p, h2 {
    padding: 4px 6px 0;
}

header img {
    display: inline;
}

header p {
    position: absolute;
    top: 0;
    left: 75px;
    padding: 0;
}

header ul {
    display: none;
}