html {
    font-size: 62.5%;
}

body {
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-variant: normal;
    background: linear-gradient(#3D332D, #847B71);
}

h1 {
    font-family: "Lucida Bright", serif;
}

.accueil {
    justify-content: center;
    color: white;
}

.premiere-page h1 {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 5.3rem;
    border-bottom: white solid 0.1rem;
    margin: 0 1.5rem 3rem;
}

.premiere-page p:first-of-type {
    font-family: "Lucida Bright", serif;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 5.3rem;
    font-style: normal;
}

.premiere-page h2 {
    font-weight: normal;
}

h2, h3, h4 {
    font-size: 3.3rem;
    line-height: 4rem;
    color: white;
}

.premiere-page p {
    font-size: 2.1rem;
    line-height: 2.6rem;
    font-style: italic;
}

.vignette h1 {
    font-size: 5.8rem;
    font-weight: normal;
}

.vignette h2>a {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 4rem;
}

footer {
    font-size: 1.28rem;
    color: white;
    background-color: #161616;
}

footer p:nth-of-type(2) {
    font-size: 1.28rem;
    font-style: italic;
}

a {
    color: #5EA5A1;
    text-decoration: none;
}

main a {
    font-weight: bold;
}

li {
    list-style: none;
}

.articles h1 {
    font-size: 4.7rem;
    line-height: 5.8rem;
    color: #5EA5A1;
    border-bottom: #5EA5A1 solid 0.2rem;
    justify-content: center;
}

.articles p, .article-scientifique p {
    font-size: 1.6rem;
    line-height: 3rem;
    color: white;
}

.legend {
    background-color: #323232;
}

.legend>p {
    color: #5EA5A1;
    border-bottom: #5EA5A1 solid 0.1rem;
}

.annexe {
    background-color: #323232;
    color: white;
}

.annexe h1 {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 5.6rem;
}

.contact p {
    font-size: 2.2rem;
    line-height: 2.7rem;
}

.autres-projets h3 {
    font-size: 4.2rem;
    line-height: 5.2rem;
    font-weight: bold;
    border-bottom: #5EA5A1 solid 0.2rem;
}

.autres-projets p {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

blockquote {
    font-size: 2.5rem;
    font-style: italic;
    color: white;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
}

header {
    background-color: #C6BAAE;
    font-size: 1.8rem;
}

.menu {
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: capitalize;
}

.menu li {
    border-bottom: #5EA5A1 solid 0.1rem;
}

.menu-lien-secondaire {
    background-color: #161616;
}

.article-suivant {
    padding: 0.1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.accueil a {
    color: white;
}

.annexe.contact p {
    font-size: 1.8rem;
}

.annexe.contact p:last-of-type {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 0;
    font-style: italic;
}

.annexe.contact h1, .annexe.autres-projets h1 {
    text-align: center;
}

footer a {
    color: white;
    font-weight: bold;
}

input[type=text] {
    background-color: #eeeeee;
    border: #eeeeee;
    border-bottom: 0.1rem solid white;
    border-radius: 1.5rem;
}

input[type=submit] {
    background-color: #161616;
    color: white;
    border: 0.2rem solid white;
    border-radius: 0.4rem;
}

.carousel {
    background-color: #323232;
    color: white;
}

.carousel p {
    font-size: 1.5rem;
}

.autres-projets .carousel p {
    font-size: 2rem;
    text-align: center;
}

.autres-projets .carousel {
    background-color: #161616;
    color: #5EA5A1;
    font-weight: bold;
}

.contrast {
    text-shadow: 0.1rem 0.1rem 1rem #3D332D;
}

.mots-fin {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding-left: 0.6rem;
}