html {
    font-size: 62.5%;
}

body {
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-variant: normal;
    background: linear-gradient(#3D332D, #847B71);
}

h1 {
    font-family: "Lucida Bright", serif;
}

.accueil {
    justify-content: center;
    color: white;
}

.premiere-page h1 {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 5.3rem;
}

h2 {
    font-size: 3.3rem;
    line-height: 4rem;
    color: white;
}

.premiere-page p {
    font-size: 2.1rem;
    line-height: 2.6rem;
    font-style: italic;
}

.articles-accueil h1 {
    font-size: 8.7rem;
    border-bottom: white solid 1px;
}

.articles-accueil h2 {
    font-size: 3.3rem;
    font-weight: bolder;
    line-height: 4rem;
}

footer {
    font-size: 1.7rem;
    color: white;
    background-color: #161616;
}

footer p:nth-of-type(1+n) {
    font-size: 1.7rem;
    font-style: italic;
}

a {
    color: #5EA5A1;
    text-decoration: none;
}

main a {
    font-weight: bold;
}

li {
    list-style: none;
}

.articles h1 {
    font-size: 4.7rem;
    line-height: 5.8rem;
    color: #5EA5A1;
    border-bottom: #5EA5A1 solid 2px;
    justify-content: center;
}

.articles p, .article-scientifique p {
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.legend, .article-suivant {
    background-color: #323232;
}

.legend>p {
    color: #5EA5A1;
    border-bottom: #5EA5A1 solid 1px;
}

.annexe {
    background-color: #323232;
    color: white;
}

.annexe h1 {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 5.6rem;
}

.contact p {
    font-size: 2.2rem;
    line-height: 2.7rem;
}

.autres-projets h2 {
    font-size: 4.2rem;
    line-height: 5.2rem;
    font-weight: bold;
    border-bottom: #5EA5A1 solid 2px;
}

.autres-projets p {
    font-size: 2rem;
    line-height: 2.4rem;
}

blockquote {
    font-size: 2rem;
    font-style: italic;
}

header {
    background-color: #C6BAAE;
    font-size: 1.8rem;
}

.menu {
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: capitalize;
}

.menu li {
    border-bottom: #5EA5A1 solid 1px;
}

.menu-lien-secondaire {
    background-color: #161616;
}